h2{
    text-align: center;
}
 
#btn{
    text-align: center;
    padding-top: 50px;
    border: rgb(28, 11, 253);
}
 
form{
    border: 1px solid rgb(44, 11, 235);
    padding-top: 50px;
    margin-top: 90px;
    padding-left: 50px;
    border-radius: 20px;
    padding-bottom: 30px;
    background-color: rgb(215, 186, 243);
 
 
}